<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel & Tourism</title>
</head>
<body background="img/background.jpg">
    <div>
    <h1><em>Welcome to our Gallery</em></h1>
    <img src="/img/img_1.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_2.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_3.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_4.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_5.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_6.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_7.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_8.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_9.jpg" alt="Image not found"><br><br><br>
    <!-- <img src="./img_10.jpg" alt="Image not found"><br><br><br> -->
    <img src="/img/img_11.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_12.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_13.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_14.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_15.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_16.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_17.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_18.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_19.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_20.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_21.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_22.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_23.jpg" alt="Image not found"><br><br><br>
    <img src="/img/img_24.jpg" alt="Image not found"><br><br><br>
    </div>
    
</body>
</html>