<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel & Tourism</title>
</head>
<body background="/img/background.jpg">
    <div>
        <h1><em>Welcome to Heritage Page</em></h1>
        <ol>
            <li><span>
                <h2><u>Kudroli Gokarnath Temple</u></h2>
                <a href="./kudroli"><img src="/img/kudroli.jpg" alt=""></a></span></li> <br><br><br><br>
            <li>
                <span>
                    <h2><u>Pilikula Nisargadhama</u></h2>
                    <a href="./pilikula"><img src="/img/Pilikula.jpg" alt=""></a></span> <br><br><br><br>
            </li>
            <li>
                <span>
                    <h2><u>St.Aloysius Chapel</u></h2>
                    <a href="./aloysius"><img src="/img/aloy.jpg" alt=""></a></span><br><br><br><br>
            </li>
            <li>
                <span>
                    <h2><u>Tannirbhavi Beach</u></h2>
                    <a href="./tannirbhavi"><img src="/img/tannirbhavi-beach.jpg" alt=""></a></span><br><br><br><br>
            </li>
            <li>
                <span>
                    <h2><u>Kadri Manjunath Temple</u></h2>
                    <a href="./kadri-manjunath"><img src="/img/kadri-manjunath-temple.jpg" alt=""></a></span><br><br><br><br>
            </li>
            <li>
                <span>
                    <h2><u>Someshwara Beach</u></h2>
                    <a href="./someshwara"><img src="/img/someshwar-beach.jpg" alt=""></a></span><br><br><br><br>
            </li>
            <li>
                <span>
                    <h2><u>Kateel Shree Durgaparameshwari Temple</u></h2>
                    <a href="./kateel"><img src="/img/kateel.jpg" alt=""></a></span><br><br><br><br>
            </li>
            <li>
                <span>
                    <h2><u>New Mangalore Port</u></h2>
                    <a href="./new-mangalore"><img src="/img/new-mangalore-port.jpg" alt=""></a></span><br><br><br><br>
            </li>
            <li>
                <span>
                    <h2><u>Kadri Park</u></h2>
                    <a href="./kadri-park"><img src="/img/kadir-park.jpg" alt=""></a></span><br><br><br><br>
            </li>
            <li>
                <span>
                    <h2><u>NITK Surathkal Beach</u></h2>
                    <a href="./surathkal"><img src="/img/nitk-surathkal-beach.jpg" alt=""></a></span><br><br>
            </li>
        </ol>
    </div>
    
</body>
</html>